:root{
--color-green: #539a6b;
--color-beige: #f0e2c5;
--color-blue: #57679e;
--color-yellow: #f0c85d;
--color-red: #bf1819;
--box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

body{
   margin:20px auto;
   background-color: #f0e2c561;
}
/*photos*/
h1,h2,h3,h4{
    text-align: center;
    margin:0;
}

h1{
    color:var(--color-green);
    font-size: 160px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    padding: 30px;
    
}

h3{
    color:var(--color-blue);
    font-size: 30px;
    letter-spacing: 0.5px;
    font-weight: 400;
    padding-top: 30px;
}

p{
    color: var(--color-blue);
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 1.8;
    font-size: 15px;
}

.follow-photos{
    font-size: 20px;
}

.text-photos{
    font-size: 100px !important;
}

/*buttons first page //text-transform: uppercase//*/
.button{
    display:flex;
    margin-top:40px;
    justify-content: center;
}

.button a {
    text-align: center;
    font-size: 16px;
    line-height: 1;
    margin: 20px;
    border-radius: 28px;
    padding: 17px 20px;
    text-decoration: none;
    flex: 0.2;
}

.contact{
    color:white;
    background-color: var(--color-green);
    box-shadow: var(--box-shadow);
    transition-property: background-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 600;
}

.contact:hover {
    color: white;
    background-color: var(--color-yellow);
    transform: scale(1.04);
    border: none;
 }

.photos{
    color:white;
    background-color:var(--color-green);
    box-shadow: var(--box-shadow);
    color: white;
    background-color: var(--color-green);
    box-shadow: var(--box-shadow);
    transition-property: background-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 600;
}

.photos:hover {
    color: white;
    background-color: var(--color-yellow);
    transform: scale(1.04);
    border: none;
}

.button-ig{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.button-ig a {
    text-align: center;
    font-size: 16px;
    line-height: 1;
    margin: 20px;
    border-radius: 28px;
    padding: 17px 20px;
    text-decoration: none;
    flex: 0.2;
}

.ig-button{
    color:white;
    background-color:var(--color-green);
    box-shadow: var(--box-shadow);
    color: white;
    background-color: var(--color-green);
    box-shadow: var(--box-shadow);
    transition-property: background-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 600;
}

.ig-button:hover {
    color: white;
    background-color: var(--color-yellow);
    transform: scale(1.04);
    border: none;
}

